body{
    background-color: whitesmoke
}
.text-center{
    /* background-color: #c69071; */
    padding: 2px;
    margin: 0px;
    border: 2px solid #c69071;
    text-align: justify

}

.photo{
    border: #303531
}
.marco{
    background-color: #303531;
    font-size: 21px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 0px;
    margin: 15px;
}

.lizeth{
    width:100%;
	/* height: 150px; */
    background-image: url(imagenes/portada.png);
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    height: 35pc;

}
.jumbotron{
    color:whitesmoke;
    border: rgba(0, 0, 0, 0.856);
    /* background-color:#A7A349; */
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    
}

.texto{
    border: 1px solid black;
    margin-top: 25%;
    /* margin-bottom: 100%; */
    margin-right: 25%;
    margin-left: 25%;
    background-color: lightblue;
}

.skills-tech{
    padding: 10px 3% 20px;
}

.card{
    color:whitesmoke;
    border: rgba(0, 0, 0, 0.856);
    background-color: #303531;
    font-family: 'Montserrat', sans-serif;

}

.borde{
    background-color: #c69071;
    /* height: 300%;  */
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;

    /* border: 2px solid #303531 */
}
.newbord{
    background-color: #303531;
    /* height: 300%;  */
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;

}
.contacto{
    /* background-color: #1b201ce3; */
    color: #303531
}
.nav{
    background-color: whitesmoke
}
.nav-item{
    background-color: #303531;
    color: whitesmoke;
    padding: 0.4%;
    position: center
}
.nav-item:hover{
    color: #c69071;
    background-color: black; 
}

.card-text{
    text-align: justify
}
.btn{
    color: whitesmoke;
    border: 2px solid #c69071
}